<h1>Echo</h1>
<p>Information being echoed back</p>

<p>
  <b>Name:</b>
  <%= @name %>
	<br>
	<b>Name Check Box:</b>
	<%= @checkForName %>
	
</p>

<p>
  <b>Age:</b>
  <%= @age %>	
	<br>
	<b>Age Check Box:</b>
	<%= @checkForAge %>
</p>