<span class="label label-success">Note</span>
<div class="text"> <!-- Text/footer -->
  <p>	This page was created for the requirements for CS380 to fulfill the requirements to an assignment given 
	to us by Professor Gordon.</p>
	<p>&copy; Joe Budin 2012</p>
</div> 