<p>Snowmobiles have been around since the late 1940's and have been around ever since.<span class="badge">1</span>They are used for many different things other than just recreation<span class="badge">2</span></p>

<p>My favorite snowmobile is an Arctic Cat<span class="badge">3</span>Arctic Cat backs things by saying things like this: At Arctic Cat, we love to ride, so we understand the passion that drives you to be an Arctic Cat customer. We appreciate the value you place on your time spent enjoying Arctic Cat products in the great outdoors.<span class="badge">4</span></p>