<!DOCTYPE html>
<html>
<head>
  <title>Snowmobiles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap -->
	<link href="/assets/docs.css" rel="stylesheet" type="text/css">
	<link href="/assets/news.css" rel="stylesheet">
	<link href="/assets/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap2.2.css" rel="stylesheet">
	<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/boostrap-responsive.css" rel="stylesheet" type="text/css">
	<script src="code.jquery-1.9.1.min.js" rel="stylesheet" type="text/javascript"></script>
</head>
<body>

<%= yield %>
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/assets/bootstrap.js"></script>
<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">

<!-- Tabbable example script requirements -->
<script src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>  
<script src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-tab.js"></script>  

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="/assets/jquery.js"></script>

</body>
</html>
